
#home-container {
    background-image: url("../assets/fondhome.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: var(--font-family);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: white;
    font-size: 2vw;
    padding-top: 8%;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}

#logo {
    height: 10vw;
    position: absolute;
    top: 3%;
}

#resume {
    color: white;
    text-align: center;
    padding-top: 7%;
    font-size: 1.5rem;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.btn-inscription {
    margin-top: 2%;
    padding: 1% 2%;
    background-color: #458793;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-inscription:hover {
background: #e6a77c;
}
.icone-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icone {
    margin-top: 1%;
    padding-left: 1%;
    height: 100px;
}

.textIcone {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}